*.DS_Store
.idea
/nbproject/private/
/nbproject/
/node_modules/
TODO
*.zip
test.html
*.log
build
documentation
pages
composer.json
Gruntfile.js
.jshintrc
index.html
bower.json
index2.html
changelog
LICENSE
package.json
README.md
starter.html
